/* ===Author="NilsPape"===*/

/*	These are the colors of the whole Stylesheet.  */
:root {
	--black : #000000;
	--Gray : #B1B2B2;
	--blackGreen : #17252A;
	--darkGreen : #2B7A78;
	--lightGreen: #00FF00;
	--lightBlue : #3AAFA9;
	--transparentGreen : #DEF2F1;
	--white : #FEFFFF;
	--red : #FF0000;
}

/*
 * ===========
 * BUTTONS
 * ===========
 * 
 */
 
/*TODO: Set colors according to looks*/
.MenuButton {
	-fx-background-color : var(--lightGreen);
	-fx-border: 0.3vmin solid var(--darkGreen);
	-fx-font-size: 6vmin;
	
}
.button:default{
	-fx-background-color : ;
}
.button:cancel{
	-fx-background-color : ;
}

.button:focused {
	-fx-color : ;
	-fx-background-color : ;
	-fx-focus-color : ;
}
.button:hover {
    -fx-color: ;
	-fx-inner-border : ;
	-fx-body-color : ;
}

.button:armed {
    -fx-color: ;
}


.toggle-button{
	-fx-background-color : ;
}

.toggle-button:selected{
	-fx-background-color : ;
}




/*
 * ===========
 * LOGOS
 * ===========
 * 
 */
 
 /*TODO: determine wether url will be set in fxml/css/javacode*/
 .std-logo{
	-fx-background-image: url('HSB_Logo.jpg');
    -fx-background-position: 90%;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

 .std-logo-png{
	-fx-background-image: url('HSB_Logo.png');
    -fx-background-position: 90%;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}
 
